$main-color: #00adee;
// $main-color: #fe5252;
$bg-color: #f9f9f9;

body{
  background: $bg-color;
}
.overfix{
  overflow: hidden;
}

ul{
  margin: 0;
}

// img{
//   outline: 0;
//   max-width: 100%;
//   height: auto;
// }

#top-link-bar{
  background-color: #61B3DE;
  padding: 5px 0;
  color:white;
  ul li{
    float:right;
    margin-left: 10px;
    list-style: none;
    a, a:hover{
      color: white;
    }
  }
}

header{
  margin: 10px 0;
  ul#top-links{
    padding: 15px;
    color: $main-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.1em;
  }
  ul li{
    float: left;
    margin-left: 30px;
    list-style: none;
    a{
      main-color: $main-color;
    }
  }
  .logo strong{
    position: absolute;
    top: -999em;
    left: -999em;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
    overflow: hidden;
  }
  form{
    padding-top: 15px;
  }
}

#content{
  margin: 10px 0;
}

#header-wrapper{
  // margin: 10px 0;
  background: white;
}

.header-container{
  background: $bg-color;
}

.main-container{
  margin: 40px 0;
  .products{
    margin: 20px 0;
  }
}
.product{
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  background: white;
  border: 9px solid white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
  a{
    margin: 20px 0 0;
    display: block;
    padding: 10px 0 0;
    text-decoration: none;
  }
  span{
    display: block;
    border-top: 1px solid $main-color;
    padding-top: 10px;
    margin-top: 5px;
  }
}

#news-container{
  // border-top: 5px solid $main-color;
  // padding: 0;
  // margin: 0 0 30px;
  // position: relative;
  // background: white;
  // border-radius: 2px;
  // -webkit-border-radius: 2px;
  // -moz-border-radius: 2px;
  // -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  // -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  // box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  ul{
    padding: 0 10px;
    li{
      list-style: none;
    }
  }
}

#slider{
  padding: 7px 0 20px;
  margin-right: 10px;
  h1{
    margin: 0;
  }
}

input[type="search"]{
  display: block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn{
  border: none;
  background: $main-color;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow:none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -mozz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;

}

.news-ticker{
  padding: 8px;
  margin: 0 15px 30px;
  position: relative;
  background: #fff;
  border: none;
  border-top: 6px solid $main-color;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
  h2{
    text-align: center;
  }
}

.flash.success, .success.errorExplanation{
  text-align: center;
  margin-top: 2px;
  background-color: $main-color;
}

.flash.notice, .notice.errorExplanation {
  background-color: $main-color;
  text-align: center;
  margin-top: 2px;
}

footer{
  background: #f4f4f2;
  border-top: 1px solid #ececea;

}

.product-section-title {
  color: #ff9600;
  border-bottom: 2px solid #ffeacc;
  margin-bottom: 16px;
  font-size: 16px;
}

span.price{
  font-weight: bold;
  color: #61a1f0;
}

[data-hook="product_price"]{
  margin-bottom: 24px;
  padding-bottom: 10px;
  border-bottom: 2px solid #dfeefd;
}

#sidebar{
  border-top: 9px solid $main-color;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
}

#product-properties{
  border: none;
  tr td{
    padding-left: 0;
    font-size: 14px;
    strong{
      color: #50a2f3;
    }
  }
  tr.odd{
    background: #f7fbfe;
  }
}

form#sidebar_products_search input{
  display: none;
}

ul#products li{
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  background: white;
  border: 9px solid white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
  .product-image{
    border:none;
  }
}