<footer id="footer" class="sixteen columns" data-hook>
  <div class="content">

    <div class="eight columns alpha">
      <!-- <%= image_tag "store/logo-white.png", :alt => "Spree Demo Theme", :id => "footer-logo" %> -->
      <h5>联系方式</h5>
      <div class="phone">
        <span>电话:</span>
        <a href="callto:012341234567">01-234-1234-567</a>
        </div>
      <div class="email">
        <span>邮箱:</span>
        <a href="mailto:ecom@mzvisa.com">ecom@mzvisa.com</a>
      </div>
      <br>
      <div class="address">
        <span>地址:</span>
        广州市林和西路帝都大厦16楼 C301, 510097
      </div>
    </div>

    <div class="four columns">
      <h5>常用表格下载</h5>
      <ul>
        <li><a href="/products">签证个人资料表</a></li>
        <li><a href="/products">签证服务协议</a></li>
        <li><a href="/products">邮寄签证材料必填</a></li>
        <li><a href="/products">委托书样本</a></li>
        <li><a href="/products">在职证明（旅游签证)</a></li>
        <li><a href="/products">在职证明（商务签证)</a></li>
      </ul>
    </div>


    <div class="four columns omega">
      <h5>领馆网站</h5>
      <ul>
        <li><a href="http://www.vfs-uk-cn.com/smplchinese">英国签证申请中心</a></li>
        <li><a href="http://www.vfs-canada.com.cn/chinese/">加拿大签证申请中心</a></li>
        <li><a href="http://chinese.usembassy-china.org.cn/">美国大使馆</a></li>
      </ul>
    </div>

  </div>
</footer>