-# coding: utf-8
.header-container
	#top-link-bar.overfix
		.container.overfix
			.sixteen.columns.clearfix
				.eight.columns.alpha
					%span 服务热线: 400-688-2262
				.eight.columns.omega
					= render :partial => "spree/shared/top_link_bar"
	#header-wrapper
		.container.overfix
			%header.overfix
				.sixteen.columns.clearfix
					.four.columns.alpha
						%h1.logo
							%strong MZVisa
							%a.logo{:href => spree.root_path, :title => "mzvisa"}
								%img{:alt => "商店", :src => "/assets/store/logo.png" }
					.eight.columns
						= render :partial => "spree/shared/navi"
					.four.columns.omega
						= render :partial => "spree/shared/search"
