<header id="header" class="" data-hook>
  <figure id="logo" class="columns six" data-hook>
  	<h1 class="site-title">广州威莎斯商旅服务有限公司</h1>
  </figure>
  <%= render :partial => 'spree/shared/nav_bar' %>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>