<div id="introduction">
    <h1>
      欢迎光临广州威莎斯签证网
    </h1>
    <p>多年的签证经验,专业的签证团队</p>
    <p>为你提供专业意见, 提高签证成功率</p>
</div>

<div id="sub-content" class="row">
  <div id="features" class="slider">
    <h2 class="title">热门产品</h2>

    <% if @slider_products %>
      <div id="slider-products" class="flexslider">
        <ul class="slides">
          <% @slider_products.each do |product| %>
            <%= render 'product', :product => product %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="promotion columns twelve alpha">
    <h2 class="">限时特惠</h2>
    <hr>
    <% if @promotion_products %>
      <div id="promotion-products" class="">
        <ul id="promotion" class="inline product-listing">
          <% @promotion_products.each do |product| %>
            <%= render 'promotion', :product => product %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% reset_cycle("classes") %>
  </div>
  <aside id="news" class="columns four omega" data-hook="news">
    <!-- <div data-hook="store-news"></div> -->
  </aside>
</div>

